@import 'variables';
@import 'config';

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(pattern-background-desktop.svg);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $pale-blue2;
}