@import 'variables';
@import 'config';

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(pattern-background-desktop.svg);
}